* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12pt;
  background-color: #e6e6ff;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.Story {
  background-color: #a1a1da;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}
